{% extends "base.jinja" %}

{% block content %}


    <p>Haraldur segir: {{authors.Haraldur[0]}}</p>
    <p>Bragi svarar: {{authors.Bragi[0]}}</p>
    {% for student in students %}
        <p>{{student.title()}} segir: {{ students[student][0] }}</p>
    {% endfor %}

{% endblock content %}