{% extends "base.jinja" %}

{% block content %}


    <p>Mike says: {{authors.Mike[0]}}</p>
    <p>Brandon replied: {{authors.Brandon[0]}}</p>
    {% for student in students %}
        <p>{{student.title()}} says: {{ students[student][0] }}</p>
    {% endfor %}

{% endblock content %}