{% extends "base.jinja" %}

{% block content %}

<h2> {{username}} </h2>

    <main class = 'posts'>
        <ul>
            {% for post in posts%}
                <li>{{ post.body }} <br><extra-small>{{post.timestamp}}</extra-small> </li>
            {% endfor %}
        </ul>
    </main>

{% endblock content %}
