{% extends "base.jinja" %}

{% block content %}

<h2> {{username}} </h2>

<main class="profile_body">
    <div class='posts'>
        <h3>Your Posts</h3>
        <ul>
            {% for post in posts%}
            <li>{{ post.body }} <br><extra-small>{{post.timestamp}}</extra-small> </li>
            {% endfor %}
        </ul>
    </div>
    <div class="profile-collections">
        <h3>Collections</h3>
        {% if collections %}
        <ul>
            {% for collection in collections %}
            <li> <span class="book_title">{{ collection.book_title }}</span> <br> {{ collection.author }} [{{ collection.year_published }}]<br>
            {% if collection.type == 'primary'%}
                <span style="color:green">{{collection.type }}</span>
            {% elif collection.type == 'resource'%}
                <span style="color:blue">{{collection.type }}</span>
            {% elif collection.type == 'grammar'%}
                <span style="color:yellow">{{collection.type }}</span>
            {% endif %}
            </li><br>
            {% endfor %}
        </ul>
        {% else %}
        <p>No collections found.</p>
        {% endif %}
</main>

{% endblock content %}