{% extends "base.jinja" %} {#at top b/c this is the whole page, that is, include everything from base.jinja here.#}

{% block content %} {#matches with base.jinja to signal unique content respective to the page.#}

<h3>Sign Up</h3>
<form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.first_name.label }}<br>
        {{form.first_name(size=45)}}
        {% for error in form.first_name.errors %}
            <span> {{ error }} </span>
        {% endfor %}
    </p>
    <p>
        {{ form.last_name.label }}<br>
        {{form.last_name(size=45)}}
        {% for error in form.last_name.errors %}
            <span> {{ error }} </span>
        {% endfor %}
    </p>
    <p>
        {{ form.username.label }}<br>
        {{form.username(size=45)}}
        {% for error in form.username.errors %}
            <span> {{ error }} </span>
        {% endfor %}
    </p>
    <p>
        {{ form.email.label }}<br>
        {{form.email(size=45)}}
        {% for error in form.email.errors %}
            <span> {{ error }} </span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{form.password(size=45)}}
        {% for error in form.password.errors %}
            <span> {{ error }} </span>
        {% endfor %}
    </p>
    <p>
        {{ form.verify_password.label }}<br>
        {{form.verify_password(size=45)}}
        {% for error in form.verify_password.errors %}
            <span> {{ error }} </span>
        {% endfor %}
    </p>
    <p>{{ form.submit }}</p>
</form>
{% endblock content %}